<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form action="/try" method="GET">
        <input type="text" name="text"/><br/>
        <input type="submit" name="submitButton" value="addText"/>
    </form>
    <h1><%= title %></h1>
    <p><%= message %></p>
    <p><%= content %></p>
    <p>Entered Texts:</p>
<ul>
    <% for (let text of Adendums) { %>
        <li><%= text %></li>
    <% } %>
</ul>
</body>
</html>
